<div class="container" (click)="interact()">

    <div class="noise"></div>

    <div class="content">

        <div class="title col-menu">
            <span>Five</span>
            <span>Nights</span>
            <span>at</span>
            <span>Fridge's</span>
        </div>

        <div class="actions col-menu">
            <span (mouseover)="hover()" (click)="play()">New Game</span>
            <span (mouseover)="hover()">Continue</span>
        </div>

        <div class="fridge">
            <img src="../../../assets/images/fridge1.webp" alt="">
        </div>

    </div>

</div>